handler.FILE=org.jboss.logmanager.handlers.PeriodicSizeRotatingFileHandler
handler.FILE.rotateSize={{ amq_broker_logging.rotateSize }}
handler.FILE.maxBackupIndex={{ amq_broker_logging.maxBackupIndex }}