      <address name="pricing.quoting.system.status">
        <multicast/>
      </address>
      <address name="pricing.quoting.calc.signal">
        <multicast/>
      </address>
      <address name="pricing.macs.sender.signal">
        <multicast/>
      </address>
      <address name="pricing.grid.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.store.signal">
        <multicast/>
      </address>
      <address name="pricing.eqd.join.control">
        <multicast/>
      </address>
      <address name="pricing.ocr.extract.control">
        <multicast/>
      </address>
      <address name="pricing.quoting.dispatch.control">
        <multicast/>
      </address>
      <address name="pricing.macs.receiver.control">
        <multicast/>
      </address>
      <address name="pricing.rpc.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.split.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.dispatch.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.multi.signal">
        <multicast/>
      </address>
      <address name="pricing.macs.sender.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.split.signal">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.signal">
        <multicast/>
      </address>
      <address name="pricing.grid.signal">
        <multicast/>
      </address>
      <address name="pricing.quoting.dispatch.signal">
        <multicast/>
      </address>
      <address name="pricing.eqd.store.control">
        <multicast/>
      </address>
      <address name="pricing.macs.receiver.signal">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.multi.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.join.signal">
        <multicast/>
      </address>
      <address name="pricing.eqd.dispatch.signal">
        <multicast/>
      </address>
      <address name="pricing.quoting.calc.control">
        <multicast/>
      </address>
      <address name="pricing.rpc.signal">
        <multicast/>
      </address>
      <address name="pricing.mac.receiver.signal">
        <multicast/>
      </address>
      <address name="pricing.mac.receiver.control">
        <multicast/>
      </address>      