<acceptor name="ssl">tcp://0.0.0.0:61619?sslEnabled=true;keyStorePath="{{ amq_broker_tls_keystore_dest }}";keyStorePassword="{{ amq_broker_tls_keystore_password }}";needClientAuth=true;trustStorePath="{{ amq_broker_tls_truststore_dest }}";trustStorePassword="{{ amq_broker_tls_truststore_password }}"</acceptor>