      <address name="pricing.rpc.result">
        <anycast>
          <queue name="pricing.rpc.result"/>
        </anycast>
      </address>
      <address name="pricing.quoting.dispatch.result">
        <anycast>
          <queue name="pricing.quoting.dispatch.result"/>
        </anycast>
      </address>
      <address name="pricing.eqd.calc.multi.result">
        <anycast>
          <queue name="pricing.eqd.calc.multi.result"/>
        </anycast>
      </address>
      <address name="pricing.macskif.calc.result">
        <anycast>
          <queue name="pricing.macskif.calc.result"/>
        </anycast>
      </address>
      <address name="pricing.quoting.calc.work">
        <anycast>
          <queue name="pricing.quoting.calc.work"/>
        </anycast>
      </address>
      <address name="pricing.rpc.work">
        <anycast>
          <queue name="pricing.rpc.work"/>
        </anycast>
      </address>
      <address name="pricing.eqd.calc.work">
        <anycast>
          <queue name="pricing.eqd.calc.work"/>
        </anycast>
      </address>
      <address name="pricing.eqd.split.work">
        <anycast>
          <queue name="pricing.eqd.split.work"/>
        </anycast>
      </address>
      <address name="ActiveMQ.DLQ">
        <anycast>
          <queue name="ActiveMQ.DLQ"/>
        </anycast>
      </address>
      <address name="pricing.quoting.calc.result">
        <anycast>
          <queue name="pricing.quoting.calc.result"/>
        </anycast>
      </address>
      <address name="pricing.eqd.store.work">
        <anycast>
          <queue name="pricing.eqd.store.work"/>
        </anycast>
      </address>
      <address name="pricing.eqd.dispatch.error">
        <anycast>
          <queue name="pricing.eqd.dispatch.error"/>
        </anycast>
      </address>
      <address name="pricing.zps.barrier.work">
        <anycast>
          <queue name="pricing.zps.barrier.work"/>
        </anycast>
      </address>
      <address name="None">
        <anycast>
          <queue name="None"/>
        </anycast>
      </address>
      <address name="pricing.eqd.calc.result">
        <anycast>
          <queue name="pricing.eqd.calc.result"/>
        </anycast>
      </address>
      <address name="pricing.quoting.calc.error">
        <anycast>
          <queue name="pricing.quoting.calc.error"/>
        </anycast>
      </address>
      <address name="pricing.grid.work">
        <anycast>
          <queue name="pricing.grid.work"/>
        </anycast>
      </address>
      <address name="pricing.zps.work">
        <anycast>
          <queue name="pricing.zps.work"/>
        </anycast>
      </address>
      <address name="pricing.quoting.sst.statistics">
        <anycast>
          <queue name="pricing.quoting.sst.statistics"/>
        </anycast>
      </address>
      <address name="pricing.quoting.dispatch.work">
        <anycast>
          <queue name="pricing.quoting.dispatch.work"/>
        </anycast>
      </address>
      <address name="pricing.eqd.calc.error">
        <anycast>
          <queue name="pricing.eqd.calc.error"/>
        </anycast>
      </address>
      <address name="pricing.ocr.extract.work">
        <anycast>
          <queue name="pricing.ocr.extract.work"/>
        </anycast>
      </address>
      <address name="pricing.eqd.calc.multi.work">
        <anycast>
          <queue name="pricing.eqd.calc.multi.work"/>
        </anycast>
      </address>
      <address name="pricing.quoting.dispatch.error">
        <anycast>
          <queue name="pricing.quoting.dispatch.error"/>
        </anycast>
      </address>
      <address name="pricing.eqd.dispatch.result">
        <anycast>
          <queue name="pricing.eqd.dispatch.result"/>
        </anycast>
      </address>
      <address name="pricing.macshan.calc.result">
        <anycast>
          <queue name="pricing.macshan.calc.result"/>
        </anycast>
      </address>