      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.quoting.dispatch.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.process.performance">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.zps.barrier.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.eqd.store.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.dispatch.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.calc.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.quoting.sst.statistics">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.zps.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.quoting.calc.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.store.control">
        <multicast/>
      </address>
      <address name="pricing.quoting.system.status">
        <multicast/>
      </address>
      <address name="pricing.quoting.calc.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Producer.Queue.pricing.quoting.sst.statistics">
        <multicast/>
      </address>
      <address name="pricing.macs.sender.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.quoting.calc.error">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.monitoring.servicenow">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.process.registry">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.quoting.dispatch.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.split.signal">
        <multicast/>
      </address>
      <address name="pricing.grid.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.macs.receiver.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Producer.Queue.pricing.quoting.dispatch.work">
        <multicast/>
      </address>
      <address name="pricing.eqd.store.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.eqd.dispatch.result">
        <multicast/>
      </address>
      <address name="pricing.eqd.join.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.grid.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.eqd.calc.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.quoting.dispatch.work">
        <multicast/>
      </address>
      <address name="pricing.ocr.extract.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.zps.barrier.work">
        <multicast/>
      </address>
      <address name="pricing.quoting.dispatch.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.rpc.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.eqd.dispatch.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.process.performance">
        <multicast/>
      </address>
      <address name="pricing.macs.receiver.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.process.registry">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.quoting.calc.work">
        <multicast/>
      </address>
      <address name="pricing.rpc.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.calc.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.grid.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.calc.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.quoting.dispatch.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.quoting.sst.statistics">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.join.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.eqd.calc.multi.result">
        <multicast/>
      </address>
      <address name="pricing.eqd.split.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.eqd.calc.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.quoting.calc.result">
        <multicast/>
      </address>
      <address name="pricing.eqd.dispatch.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.multi.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.calc.multi.signal">
        <multicast/>
      </address>
      <address name="pricing.macs.sender.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.calc.multi.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.calc.multi.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.split.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.join.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Connection">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.ActiveMQ.DLQ">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.macshan.calc.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.None">
        <multicast/>
      </address>
      <address name="pricing.eqd.split.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.process.registry">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.dispatch.error">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.store.signal">
        <multicast/>
      </address>
      <address name="pricing.grid.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.dispatch.signal">
        <multicast/>
      </address>
      <address name="pricing.quoting.dispatch.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.grid.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.quoting.dispatch.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.dispatch.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.zps.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.macs.receiver.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.monitoring.servicenow">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.eqd.store.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.eqd.split.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.quoting.calc.signal">
        <multicast/>
      </address>
      <address name="pricing.eqd.store.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.process.performance">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.dispatch.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.quoting.calc.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.quoting.dispatch.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.macs.sender.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.macs.sender.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.quoting.calc.work">
        <multicast/>
      </address>
      <address name="pricing.macs.receiver.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.quoting.dispatch.error">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.monitoring.servicenow">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.zps.barrier.work">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.multi.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.macskif.calc.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.calc.multi.control">
        <multicast/>
      </address>
      <address name="pricing.eqd.calc.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.calc.work">
        <multicast/>
      </address>
      <address name="pricing.eqd.join.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.eqd.split.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.store.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Expired.Queue.pricing.zps.work">
        <multicast/>
      </address>
      <address name="pricing.eqd.dispatch.signal">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.eqd.calc.multi.result">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.quoting.dispatch.result">
        <multicast/>
      </address>
      <address name="pricing.quoting.calc.control">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Queue.pricing.eqd.calc.error">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MasterBroker">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.MessageDLQd.Queue.pricing.eqd.split.work">
        <multicast/>
      </address>
      <address name="ActiveMQ.Advisory.Consumer.Topic.pricing.rpc.control">
        <multicast/>
      </address>