    <addresses>
      <address name="DLQ">
        <anycast>
          <queue name="DLQ"/>
        </anycast>
      </address>
      <address name="ExpiryQueue">
        <anycast>
          <queue name="ExpiryQueue"/>
        </anycast>
      </address>
      <address name="queue.in">
        <anycast>
          <queue name="queue.in"/>
        </anycast>
      </address>
      <address name="queue.out">
        <anycast>
          <queue name="queue.out"/>
        </anycast>
      </address>
      {% include 'messaging-addresses-queues.xml.j2' %}
      {% include 'messaging-addresses-topics.xml.j2' %}
    </addresses>